.dashboard-page {
  --background: #001f4d;
  color: white;
}

ion-card {
  background: #0a1a3a;
  color: white;
  border-radius: 12px;
}

canvas {
  width: 100% !important;
  height: 250px !important;
}
