ion-col {
  background-color: #fdfdfd;
  
  border: solid 0.4px #ececec;
  color: #fff;
  text-align: center;
}

.col-white-space{
  padding: 50px;
}

#whiteSpace{
  padding: 50px;
  color: black;
  border: 1px solid green;
}

