<div class="ion-page" id="main-content">
  <ion-header translucent="true">
    <ion-toolbar>
      <app-header-geral headerTitle="Faturamento Real x Meta"></app-header-geral>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid [fixed]="true" class="full-height">
    <ion-row class="ion-margin-top ion-align-items-stretch">
        <ion-col size="12" size-md="3" class="column-container">
          <app-tabela [data]="faturamentoTN" [columns]="colunasTN"></app-tabela>
          <app-tabela [data]="faturamentoTS" [columns]="colunasTS"></app-tabela>
        </ion-col>

        <ion-col size="12" size-md="6" class="column-container">
          <app-chart-card
            [title]="'Faturamento x Meta Filial Norte'"
            [seriesData]="graficosConfig[0].seriesData"
            [xAxisLabels]="graficosConfig[0].xAxisLabels"
            [yAxisOptions]="graficosConfig[0].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card>

          <app-chart-card
            [title]="'Faturamento x Meta Filial Sul'"
            [seriesData]="graficosConfig[1].seriesData"
            [xAxisLabels]="graficosConfig[1].xAxisLabels"
            [yAxisOptions]="graficosConfig[1].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card>
        </ion-col>

        <ion-col size="12" size-md="3" class="column-container">
          <h2>Faturamento e Meta Total</h2>
          <app-tabela [data]="faturamentoTotal" [columns]="colunasTotal"></app-tabela>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>