<div class="ion-page" id="main-content">
  <ion-header translucent="true">
    <ion-toolbar>
      <app-header-geral headerTitle="Faturamento Real x Meta"></app-header-geral>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
      <ion-grid>
    <ion-row>
      <ion-col> 
        <app-tabela [data]="faturamentoTN" [columns]="colunasTN"></app-tabela>
      </ion-col>
      <ion-col>
        <app-chart-card
            [title]="'Faturamento x Meta Filial Norte'"
            [seriesData]="graficosConfig[0].seriesData"
            [xAxisLabels]="graficosConfig[0].xAxisLabels"
            [yAxisOptions]="graficosConfig[0].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card>
        </ion-col>
      <ion-col> <app-tabela [data]="faturamentoTotal" [columns]="colunasTotal"></app-tabela></ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col><app-tabela [data]="faturamentoTS" [columns]="colunasTS"></app-tabela></ion-col>
      <ion-col><app-chart-card
            [title]="'Faturamento x Meta Filial Sul'"
            [seriesData]="graficosConfig[1].seriesData"
            [xAxisLabels]="graficosConfig[1].xAxisLabels"
            [yAxisOptions]="graficosConfig[1].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card></ion-col>
           <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
</div>