<div class="ion-page" id="main-content">
  <ion-header translucent="true">
    <ion-toolbar>
      <app-header-geral headerTitle="Faturamento Real x Meta"></app-header-geral>
      
      <ion-buttons slot="end">
        <ion-button id="open-filter-modal">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="dashboard-container" *ngIf="!loading">
      <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
      <ion-grid>
        <ion-row id="row-one">
        <ion-col> 
          <app-tabela [data]="faturamentoTN" [columns]="colunasTN"></app-tabela>
        </ion-col>
      <ion-col>
        <app-chart-card
            [title]="'Faturamento x Meta Filial Norte'"
            [seriesData]="graficosConfig[0].seriesData"
            [xAxisLabels]="graficosConfig[0].xAxisLabels"
            [yAxisOptions]="graficosConfig[0].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card>
        </ion-col>
      <ion-col>
          <app-tabela [data]="faturamentoTotal" [columns]="colunasTotal"></app-tabela>
      </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row id="row-two">
      <ion-col><app-tabela [data]="faturamentoTS" [columns]="colunasTS"></app-tabela></ion-col>
      <ion-col><app-chart-card
            [title]="'Faturamento x Meta Filial Sul'"
            [seriesData]="graficosConfig[1].seriesData"
            [xAxisLabels]="graficosConfig[1].xAxisLabels"
            [yAxisOptions]="graficosConfig[1].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card></ion-col>
            <ion-col><app-chart-card
            [title]="'Faturamento x Meta Filial Sul'"
            [seriesData]="graficosConfig[2].seriesData"
            [xAxisLabels]="graficosConfig[2].xAxisLabels"
            [yAxisOptions]="graficosConfig[2].yAxisOptions"
            [valueFormatter]="brl"
          ></app-chart-card></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>

  <!-- O modal que conterá o componente de filtro de data -->
  <ion-modal trigger="open-filter-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Filtrar por Período</ion-title>
          <ion-buttons slot="end">
            <ion-button onclick="dismissModal()">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <!-- Seu novo componente de filtro -->
        <app-date-filter (filterSelected)="onFilterChange($event)"></app-date-filter>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
