ion-menu {
  --background: #3e54d1;
}

ion-toolbar {
  --background: #0b1b69;
  --color: white;
}

ion-content {
  --background: #111a47;
  --color: white;
}

ion-item {
  --color: white;
}

ion-label {
  color: white; 
}

ion-menu-button {
  color: white;
}