<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid [fixed]="true">

      
      <ion-row>
        <ion-col>
          <ion-button (click)="abrirModal()">Adicionar componente</ion-button>
        </ion-col>
      </ion-row>

     
      <ion-row class="ion-margin-bottom">
        <ion-col size="12" size-md="3">
          <app-info-card title="Faturamento Total" [value]="faturamentoTotal()" color="tertiary"></app-info-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <app-info-card title="Meta Atingida" [value]="metaAtingidaPct()" unit="%" color="tertiary"></app-info-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <app-info-card title="Inadimplências" [value]="inadimplencias()" unit="%" color="tertiary"></app-info-card>
        </ion-col>
        <ion-col size="12" size-md="3">
          <app-info-card title="Recebimentos Totais" [value]="recebimentosTotais()" color="tertiary"></app-info-card>
        </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let chart of barCharts">
          <app-chart-card
            [title]="chart.title"
            [barChartData]="chart.barChartData"
            [barChartOptions]="chart.barChartOptions">
          </app-chart-card>
        </ion-col>
      </ion-row>

      
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let chart of highlightCharts">
          <app-highlight-chart-card
            [title]="chart.title"
            [highlightChartData]="chart.highlightChartData"
            [highlightChartOptions]="chart.highlightChartOptions">
          </app-highlight-chart-card>
        </ion-col>
      </ion-row>

    
      <ion-row>
        <ion-col size="12" *ngFor="let chart of mixedCharts">
          <chart-mixed-card
            [title]="chart.title"
            [mixedChartData]="chart.mixedChartData"
            [mixedChartOptions]="chart.mixedChartOptions">
          </chart-mixed-card>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</div>
