<div class="ion-page" id="main-content">
  <app-header-geral headerTitle="Home"></app-header-geral>

  <ion-content>
    <ion-grid [fixed]="true">


      


      
    <ion-row>
      <ion-col *ngFor="let config of graficosConfig" size="12" size-md="6">
        <app-chart-card
          [title]="config.title"
          [seriesData]="config.seriesData"
          [xAxisLabels]="config.xAxisLabels"
          [yAxisOptions]="config.yAxisOptions"
          [valueFormatter]="brl">
        </app-chart-card>
      </ion-col>
    </ion-row>

      
      </ion-grid>
  </ion-content>
</div>