<div class="mat-elevation-z8" id="table-container">
  <table mat-table [dataSource]="data">

    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef> {{ col.label }} </th>
      <td mat-cell *matCellDef="let item">{{ col.formatter ? col.formatter(item[col.key], item) : item[col.key] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>