/* Altura das linhas mais compacta */
::ng-deep .mat-mdc-row,
::ng-deep .mat-mdc-header-row {
  height: 20px !important;
  transition: background-color 0.3s ease;
}

/* Células e Cabeçalho com padding reduzido */
::ng-deep .mat-mdc-cell,
::ng-deep .mat-mdc-header-cell {
  padding: 4px 12px !important;
  font-size: 14px !important;
  line-height: 1.2;
  border-bottom: 1px solid #dcdcdc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

/* Resto do CSS (cabeçalho, zebra, hover, etc.) */
::ng-deep .mat-mdc-header-cell {
  background-color: #0050fcff !important;
  color: #fff !important;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}

::ng-deep .mat-mdc-row:nth-child(even) {
  background: #f7f9fc;
}

::ng-deep .mat-mdc-row:hover {
  background: #e4ebff;
}

::ng-deep .mat-mdc-table {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  border: 0.4px solid rgb(187, 187, 187);
  
}

::ng-deep .mat-mdc-table-container {
  border-radius: 8px;
}

#table-container {
  margin-top:0px;
  border-radius: 1px solid red;
}